<section class="form-auth text-center">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <h1 class="h3 mb-3 font-weight-normal">Please Sign Up</h1>
  <%= render "devise/shared/error_messages", resource: resource %>

  <%= f.text_field :first_name, autofocus: true, class: "form-control", placeholder: "First Name" %>
  <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name" %>
  <%= f.email_field :email, autocomplete: "email", class: "form-control", placeholder: "Email" %>
  <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Password"%>
  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Password confirmation"%>

  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
  <% end %>
  <%= render "devise/shared/links" %>
</section>