<div class="property-main-photo" style="background-image:url('<%= property_photo_url @property %>')">
  <div class="photo-overlay">
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-lg-6">
          <p class="mb-0"><%= @property.address %></p>
          <p class="h2 mb-3"><%= @property.price > 0 ? number_to_currency(@property.price, precision: 0) : "For Sale" %></p>
        </div>
        <div class="col-lg-6 text-center">
          <div class="row mr-lg-3 mt-sm-3 bg-light p-3">
            <div class="col-4">
              <p class="m-0"><b>Rooms</b></p>
              <span class="lead"><%= @property.room %></span>
            </div>
            <div class="col-4">
              <p class="m-0"><b>Bathrooms</b></p>
              <span class="lead"><%= @property.bathroom %></span>
            </div>
            <div class="col-4">
              <p class="m-0"><b>Parking</b></p>
              <span class="lead"><%= @property.parking_spaces %></span>
            </div>
          </div>
        </div>
      </div>
      <div class="row border-top border-bottom mt-5 mb-4 pt-4 pb-4">
        <div class="col-6">
          <b class="text-success">Est. Monthly Reapayments of <%= number_to_currency(((@property.price) / 360) * 0.90, precision: 0) %>*</b>
        </div>
        <div class="col-6 text-right">
          <b><%= link_to "Can I afford this property?", "#", class: "text-success"%></b>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <p class="h3"><b><%= @property.name %></b></p>
          <p class="h5">Property Description</p>
          <div id="prop-details">
            <%= simple_format @property.details %>
          </div>
          <button class="btn btn-outline-info mt-3" id="toggleDetails">Show more</button>
          <p class="mt-5">*This rate is based on a 30 year mortgage., after paying an initial 10% downpayment. Shorter term mortgages would require a higher monthly repayment.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <%= render "properties/agent_details" %>
      <%#= render "properties/agent_details" %>
    </div>
  </div>