<!DOCTYPE html>
<html>

<head>
  <title>PropertyFinder</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> -->

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>

</head>

<body id="<%= controller.controller_name %>" class="<%= controller.action_name %> <%= "show-sidebar" if @show_sidebar.present? %>">
  <% if @show_sidebar.nil? %>
  <header>
    <%= render "layouts/nav/public" %>
  </header>
  <%= yield %>
  <% else %>
  <%= render "layouts/nav/dashboard" %>
  <div class="container-fluid" bis_skin_checked="1">
    <div class="row" bis_skin_checked="1">
      <%= render "layouts/nav/sidebar" %>
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 mt-3">
        <%= yield %>
      </main>
    </div>
  </div>
  <% end %>


  <%#= render "layouts/nav/footer" %>

  <div id="notifications"><%= notice %></div>

  <!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
  <script>
    feather.replace()
  </script>
</body>

</html>